BROKKET_BASE_URL=stored-in-github-actions-secrets
BROKKET_LOGIN_PATH=stored-in-github-actions-secrets
BROKKET_MEMBERS_PATH=stored-in-github-actions-secrets
BROKKET_QUERIES_PATH=stored-in-github-actions-secrets
BROKKET_PHONE=stored-in-github-actions-secrets
BROKKET_PASSWORD=stored-in-github-actions-secrets
GMAIL_ADDRESS=stored-in-github-actions-secrets
GMAIL_APP_PASSWORD=stored-in-github-actions-secrets
REPORT_RECIPIENT=stored-in-github-actions-secrets
